html, body{
    margin: 0;
    padding: 0;
}
:root{
    --greyish-brown: #545454
}
.heading-wrapper{
    display: grid;
    place-items: center;
    height: 22.5em;
    background-color: #24a1b2;
    grid-template-rows: 3.75em auto;
}
.logo-wrapper{
    display: grid;
    align-self: center;
    justify-self: flex-start;
    width: 100%;
    max-width: 75em;
    margin: 0 auto;
}
.logo-wrapper > a{
    width: 8.75em;;
}
.logo-wrapper > a > img{
    width: 100%
}

.page-heading{
    font-family: Graphik;
    font-size: 2.375em;
    font-weight: 500;
    line-height: 1.32;
    color: #ffffff;
    margin: 0;
}
.search-wrapper{
    display: grid;
    place-items: center;
    grid-row-gap: 1.875em;
}
.search-bar-wrapper{
    width: 35.3125em;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 0;
    border: 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3.125em auto;
    grid-column-gap: 0.625em;
    place-items: center;
    padding: 1.25em;
    position: relative;
}
.search-bar-wrapper img {
  width: 1.125em;
  object-fit: contain;
  opacity: 0.6;
}
.search-bar{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1em;
    color: var(--greyish-brown);
}
.search-bar:focus{
    outline: none;
}
.search-bar::placeholder { 
    opacity: 0.6;
    font-family: Graphik;
    font-size: 1em;
    color: var(--greyish-brown);
  }
.search-options{
    display: none;
    position: absolute;
    top: calc(100% + 1.25em);
    width: 100%;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    z-index: 1;
}
.search-bar-wrapper .search-options a{
    padding: 1.5em 1.875em;
    border-bottom: 1px solid #ebebeb;
    margin: 0;
    font-family: Graphik;
    font-size: 1.125em;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: var(--greyish-brown);
    text-decoration: none;
}
.search-bar-wrapper .search-options a:hover{
    background-color: rgba(36, 161, 178, 0.2);
}
.cancel-cta {
    position: absolute;
    z-index: 3;
    right: 20px;
    filter: invert(1);
    display: none;
}
.category-block-wrapper {
    padding: 3.75em 0 5em;
    max-width: 75em;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 3.75em;
}
  .category-row{
      display: grid;
      grid-auto-flow: column;
  }
.category-block{
    display: grid;
    margin: 0 auto;
    grid-template-rows: repeat(3, max-content);
    position: relative;
    max-height: 20em;
    overflow: hidden;
    min-width: 15.625em;
}
.category-block img{
    width: 3.125em;
}
.category-block h2 {
    font-family: Graphik;
    font-size: 1.375em;
    font-weight: 500;
    line-height: 1.27;
    color: var(--greyish-brown);
    margin: 1.36363em 0 1.1363636em;
    text-decoration: none;
}
.category-block > div{
    display: grid;
    grid-row-gap: 1.375em;
}
.category-block > div a, .category-block  > div .show-all{
    font-family: Graphik;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.31;
  color: var(--greyish-brown);
  text-decoration: none;
}
.show-all{
    color: rgb(36,161,178) !important;
    display: none;
    position: absolute;
    top: calc(20em - 1.125em);
    width: 100%;
    background-color: #FFF;
    cursor: pointer;
}
.help-block{
    width: 100%;
    height: 8.75em;
    background-color: #f8f8f8;
    display: grid;
    align-items: center;
}
.help-block > div {
    max-width: 75em;
    width: 100%;
    justify-self: flex-start;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: auto max-content;
}
.help-block > div > h2 {
    margin: 0;
    font-family: Graphik;
    font-size: 1.375em;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: var(--greyish-brown);
}
.help-block >div >div {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, max-content);
    grid-column-gap: 1.25em;
}
.help-block > div > div a{
  border-radius: 4px;
  border: solid 1px #ebebeb;
  background-color: #ffffff;
  display: grid;
  place-items: center;
  font-family: Graphik;
  font-size: 0.875em;
  line-height: 1.29;
  color: var(--greyish-brown);
  text-decoration: none;
  padding: 1em 2em;
}
.display-block{
    display: grid;
}
.expand-block{
    max-height: 100em;
}
br{
    display: none;
}
@media(max-width: 768px){
    .heading-wrapper{
        padding: 0 1.875em;
    }
    .logo-wrapper{
        width: 100%;
        margin: 0 auto;
    }
    .page-heading{
        font-size: 2.25em;
    }
    .search-wrapper {
        grid-row-gap: 0.9375em;
        width: 100%;
        margin: 0 auto;
        place-items: unset;
    }
    .search-bar-wrapper {
        margin: 0 auto;
        width: calc(100% - 1.875em);
        grid-template-columns: 1.875em auto;
        grid-column-gap: 0.9375em;
    }
    .search-bar-wrapper .search-options a {
        padding: 1.25em 1.875em;
    }
    .category-block-wrapper{
        padding: 1.25em 1.875em;
        grid-row-gap: 1.5625em;
    }
    .category-row{
        height: auto;
        grid-auto-flow: row;
        grid-row-gap: 1.5625em;
    }
    .category-block{
        max-height: 16.5em;
        overflow: hidden;
        width: 100%;
    }
    .category-block h2 {
        margin: 0.9375em 0 0.785em;
    }
    .category-block > div {
        grid-row-gap: 0.75em;
    }
    .help-block{
        height: auto;
        padding: 1.25em 0;
    }
    .help-block > div {
        min-width: unset;
        grid-auto-flow: row;
        grid-template-columns: unset;
        width: calc(100% - 3.75em)
    }
    .help-block > div > h2{
        padding: 0px 0 0.9375em;
    }
    .help-block > div >div{
        grid-auto-flow: row;
        grid-template-columns: unset;
        grid-row-gap: 0.9375em;
    }
    .show-all{
        top: calc(16.5em - 1.375em);
    }
    .expand-block{
        max-height: 100em;
    }
    br{
        display: block;
    }
}
  @font-face {
    font-family: "Avenir";
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-light.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-light.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-light.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-light.woff") format("woff"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Avenir";
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-roman.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-roman.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-roman.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-roman.woff") format("woff"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-roman.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Avenir";
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-medium.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-medium.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-medium.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-medium.woff") format("woff"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Avenir";
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-black.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-black.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-black.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-black.woff") format("woff"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-black.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Graphik";
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Bold-Web.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Bold-Web.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Bold-Web.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Bold-Web.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Graphik";
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Semibold-Web.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Semibold-Web.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Semibold-Web.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Semibold-Web.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "Graphik";
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Medium-Web.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Medium-Web.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Medium-Web.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Medium-Web.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Graphik";
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Regular-Web.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Regular-Web.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Regular-Web.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Regular-Web.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Graphik";
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Light-Web.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Light-Web.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Light-Web.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Light-Web.woff") format("woff");
    font-weight: 300;
}