html, body{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFF;
}
:root {
    --greyish-brown: #545454;
    /* --cutter: 130em; */
    /* FOR DEMO */
    --cutter: 1200px;

}
.logo-wrapper {
    display: grid;
    align-self: center;
    justify-self: flex-start;
    width: 100%;
    max-width: var(--cutter);
    margin: 0 auto;
}

.logo-wrapper>a>img {
    width: 140px;
}

.heading-wrapper {
    display: grid;
    align-items: center;
    height: 360px;
    grid-template-rows: 60px auto;
    background-image: url(https://cdn-imgix-open.headout.com/Home%20Page/denys-nevozhai-185489-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.page-heading {
    font-family: Graphik;
    font-size: 38px;
    font-weight: 500;
    line-height: 1.32;
    color: #ffffff;
    margin: 0;
}

.search-wrapper {
    display: grid;
    align-items: center;
    grid-row-gap: 30px;
    min-width: 1050px;
    margin: 0 auto;
}

.search-bar-wrapper {
    width: 565px;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 0;
    border: 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50px auto;
    grid-column-gap: 10px;
    place-items: center;
    padding: 20px 15px;
    position: relative;
}

.search-bar-wrapper img {
    width: 18.3px;
    object-fit: contain;
    opacity: 0.6;
}

.search-bar {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 16px;
    color: var(--greyish-brown);
}

.search-bar:focus {
    outline: none;
}

.search-bar::placeholder {
    opacity: 0.6;
    font-family: Graphik;
    font-size: 16px;
    color: var(--greyish-brown);
    line-height: 16px;
}

.search-options {
    display: none;
    position: absolute;
    top: calc(100% + 20px);
    width: 100%;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    z-index: 1;
}

.search-bar-wrapper .search-options a {
    padding: 25px 30px;
    border-bottom: 1px solid #ebebeb;
    margin: 0;
    font-family: Graphik;
    font-size: 18px;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: var(--greyish-brown);
    text-decoration: none;
}

.search-bar-wrapper .search-options a:hover {
    background-color: rgba(36, 161, 178, 0.2);
}

.cancel-cta {
    position: absolute;
    z-index: 3;
    right: 20px;
    filter: invert(1);
    display: none;
}

.category-block-wrapper {
    padding: 60px 0 80px;
    max-width: max-content;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 60px;
}

.category-row {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 150px;
}

.category-block {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    position: relative;
    max-height: 290px;
    overflow: hidden;
    min-width: 250px;
}

.category-block img {
    width: 50px;
}

.category-block h2 {
    font-family: Graphik;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.27;
    color: var(--greyish-brown);
    margin: 30px 0 0;
    text-decoration: none;
}

.divider {
    width: 60px;
    margin: 10px 0 30px;
    height: 3px;
    background-color: #ec1943;
}

.category-block>div {
    display: grid;
    grid-row-gap: 22px;
}

.category-block>div:first-of-type {
    position: relative;
    grid-row-gap: unset;
}

.category-block>div a,
.category-block>div .show-all {
    font-family: Graphik;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.31;
    color: var(--greyish-brown);
    text-decoration: none;
}

.category-block>div a:hover {
    color: #ec1943;
}

.help-block {
    width: 100%;
    height: 140px;
    background-color: #f8f8f8;
    display: grid;
    align-items: center;
}

.help-block>div {
    max-width: var(--cutter);
    width: 100%;
    justify-self: flex-start;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: auto max-content;
}

.help-block>div>h2 {
    margin: 0;
    font-family: Graphik;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: var(--greyish-brown);
}

.help-block>div>div {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 174px);
    grid-column-gap: 20px;
    position: relative;
}

.help-block-btn {
    height: 50px;
    border-radius: 4px;
    border: solid 1px #ebebeb;
    background-color: #ffffff;
    display: grid;
    place-items: center;
    font-family: Graphik;
    font-size: 14px;
    line-height: 1.29;
    color: var(--greyish-brown);
    text-decoration: none;
    cursor: pointer;
}

.help-pop-up {
    position: absolute;
    bottom: calc(100% + 10px);
    right: 0;
    background-color: #FFF;
    z-index: 1;
    padding: 20px 30px;
    width: max-content;
    display: none;
    grid-row-gap: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
}

.help-pop-up h2 {
    display: none;
}

.help-pop-up .divider {
    display: none;
}

.help-pop-up>a {
    display: grid;
    place-items: center;
    grid-template-columns: 30px auto;
    grid-column-gap: 20px;
    text-decoration: none;
}

.help-pop-up>a>img {
    width: 100%;
    height: 20px;
    object-fit: contain;
}

.help-pop-up>a>span {
    font-family: Avenir;
    font-size: 14px;
    line-height: 1.36;
    color: var(--greyish-brown);
}

.pop-up-cancel-cta {
    position: absolute;
    filter: invert(1);
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.pop-up-cancel-cta>img {
    width: 10px;
    height: 10px;
}

.show-all {
    color: #ec1943 !important;
    display: none;
    position: absolute;
    top: calc(290px - 20px);
    width: 100%;
    background-color: #FFF;
    cursor: pointer;
}

.display-block {
    display: grid;
}

.expand-block {
    max-height: 1000px;
}

br {
    display: none;
}

@media(max-width: 768px) {
    .heading-wrapper {
        padding: 0 30px;
    }

    .logo-wrapper {
        width: 100%;
        margin: 0 auto;
    }

    .page-heading {
        font-size: 36px;
    }

    .search-wrapper {
        grid-row-gap: 15px;
        width: 100%;
        margin: 0 auto;
        place-items: unset;
        min-width: unset;
    }

    .search-bar-wrapper {
        margin: 0 auto;
        /* width: 100%; */
        width: calc(100% - 30px);
        grid-template-columns: 30px auto;
        grid-column-gap: 15px;
        padding: 15px;
    }
    .search-bar{
        font-size: 16px;
        line-height: 1.5;
    }
    .search-bar::placeholder {
        line-height: 24px;
    }
    .search-bar-wrapper .search-options a {
        padding: 20px 30px;
    }

    .category-block-wrapper {
        padding: 60px 30px;
        grid-row-gap: 60px;
        max-width: unset;
    }

    .category-row {
        height: auto;
        grid-auto-flow: row;
        grid-row-gap: 60px;
    }

    .category-block {
        max-height: 210px;
        overflow: hidden;
        width: calc(100% - 60px);
    }

    .category-block h2 {
        margin: 0;
    }

    .divider {
        margin: 10px 0 25px;
    }

    .category-block>div {
        grid-row-gap: 11px;
    }

    .help-block {
        height: auto;
        padding: 60px 0 calc(5em + 60px);
    }

    .help-block>div {
        min-width: unset;
        grid-auto-flow: row;
        grid-template-columns: unset;
        place-items: center;
    }

    .help-block>div>h2 {
        padding: 0px 0 15px;
    }

    .help-block>div>div {
        grid-auto-flow: row;
        grid-template-columns: unset;
        grid-row-gap: 15px;
        place-items: center;
        position: static;
        min-width: 180px;
    }

    .help-block>div>div>a,
    .help-block>div>div>div {
        height: auto;
        width: 100%;
        padding: 15px 30px;

    }

    .help-block .help-pop-up {
        position: static;
        grid-template-rows: repeat(5, 50px);
        place-items: center;
        grid-row-gap: 25px;
        border-radius: 1px;
        border: solid 0.5px #ebebeb;
        grid-template-columns: max-content;
        display: grid;
        box-shadow: none;
        border: none;
        margin: 80px auto 0;
    }

    .help-block .mobile-pop-up {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 0;
        background-color: #FFF;
        display: none;
        justify-content: center;
    }

    .help-pop-up h2 {
        display: block;
        margin: 0;
        font-family: Graphik;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: center;
        color: #545454;
    }

    .help-pop-up .divider {
        display: block;
        margin: 5px auto 35px;
    }

    .help-pop-up>a {
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        border-radius: 1px;
        border: solid 0.5px #ebebeb;
        padding: 0 20px;
    }

    .pop-up-cancel-cta {
        top: 20px;
        right: 20px;
    }

    .pop-up-cancel-cta>img {
        width: 20px;
        height: 20px;
    }

    .show-all {
        top: calc(210px - 22px);
    }

    body .help-block .display-block {
        display: grid;
    }

    .expand-block {
        max-height: 1000px;
    }
    .hide{
        display: none;
    }
    .hide-body-elements{
        height: 100%;
        overflow: hidden;
        width: 100%;
        position: fixed;
    }
    br {
        display: block;
    }
}
  @font-face {
    font-family: "Avenir";
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-light.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-light.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-light.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-light.woff") format("woff"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Avenir";
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-roman.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-roman.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-roman.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-roman.woff") format("woff"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-roman.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Avenir";
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-medium.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-medium.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-medium.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-medium.woff") format("woff"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Avenir";
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-black.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-black.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-black.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-black.woff") format("woff"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-black.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Graphik";
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Bold-Web.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Bold-Web.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Bold-Web.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Bold-Web.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Graphik";
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Semibold-Web.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Semibold-Web.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Semibold-Web.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Semibold-Web.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "Graphik";
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Medium-Web.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Medium-Web.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Medium-Web.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Medium-Web.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Graphik";
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Regular-Web.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Regular-Web.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Regular-Web.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Regular-Web.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Graphik";
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Light-Web.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Light-Web.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Light-Web.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Light-Web.woff") format("woff");
    font-weight: 300;
}