html, body{
    margin: 0;
    padding: 0ss
}
:root{
    --greyish-brown: #545454
}
.logo-wrapper{
    display: grid;
    align-self: center;
    justify-self: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.logo-wrapper > img{
    width: 140px;;
}
.heading-wrapper{
    display: grid;
    place-items: center;
    height: 360px;
    background-color: #24a1b2;
    grid-template-rows: 60px auto;
}
.page-heading{
  font-family: Graphik;
  font-size: 38px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin:0;
}
.search-wrapper{
    display: grid;
    place-items: center;
    grid-row-gap: 30px;
}
.search-bar-wrapper{
    width: 565px;
    height: 30px;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 0;
    border: 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50px auto;
    grid-column-gap: 10px;
    place-items: center;
    padding: 15px;
    position: relative;
}
.search-bar-wrapper img {
  width: 18.3px;
  height: 18.3px;
  object-fit: contain;
  opacity: 0.6;
}
.search-bar{
    width: 100%;
    height: 100%;
    border: none; 
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: var(--greyish-brown);
}
.search-bar:focus{
    outline: none;
}
.search-bar::placeholder { 
    opacity: 0.6;
    font-family: Graphik;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: var(--greyish-brown);
  }
.search-options{
    display: none;
    position: absolute;
    top: calc(100% + 20px);
    width: calc(100% - 60px);
    background-color: #FFF;
    border-radius: 4px;
    padding: 0 30px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    z-index: 1;
}
.search-bar-wrapper .search-options a{
    margin: 25px 0;
}
  .category-block-wrapper{
      padding: 60px 0 80px;
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      grid-row-gap: 60px;
  }
  .category-row{
      display: grid;
      grid-auto-flow: column;
  }
.category-block{
    display: grid;
    margin: 0 auto;
    grid-template-rows: repeat(3, max-content);
    position: relative;
    max-height: 320px;
    overflow: hidden;
}
.category-block img{
    width: 50px;
}
.category-block h2, .search-options a {
    font-family: Graphik;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: var(--greyish-brown);
    margin: 30px 0 25px;
    text-decoration: none;
}
.category-block > div{
    display: grid;
    grid-row-gap: 22px;
}
.category-block > div a, .category-block  > div .show-all{
    font-family: Graphik;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  color: var(--greyish-brown);
  text-decoration: none;
}
.help-block{
    width: 100%;
    height: 140px;
    background-color: #f8f8f8;
    display: grid;
    align-items: center;
}
.help-block > div {
    min-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: auto max-content;
}
.help-block > div > h2 {
    margin: 0;
    font-family: Graphik;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: var(--greyish-brown);
}
.help-block >div >div {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 174px);
    grid-column-gap: 20px;
}
.help-block > div > div a{
  height: 50px;
  border-radius: 4px;
  border: solid 1px #ebebeb;
  background-color: #ffffff;
  display: grid;
  place-items: center;
  font-family: Graphik;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: var(--greyish-brown);
  text-decoration: none;
}
.show-all{
    color: rgb(36,161,178) !important;
    display: none;
    position: absolute;
    top: calc(320px - 20px);
    width: 100%;
    background-color: #FFF;
}
.display-block{
    display: grid;
}
.expand-block{
    max-height: 1000px;
}
br{
    display: none;
}
@media(max-width: 768px){
    .heading-wrapper{
        padding: 0 30px;
    }
    .logo-wrapper{
        width: 100%;
        margin: 0 auto;
    }
    .page-heading{
        font-size: 36px;
    }
    .search-wrapper {
        grid-row-gap: 15px;
        width: 100%;
        margin: 0 auto;
        place-items: unset;
    }
    .search-bar-wrapper {
        margin: 0 auto;
        width: calc(100% - 30px);;
    }
    .search-bar-wrapper .search-options a{
        margin: 15px 0;
    }
    .category-block-wrapper{
        padding: 20px 0 30px;
        grid-row-gap: 25px;
    }
    .category-row{
        height: auto;
        grid-auto-flow: row;
        grid-row-gap: 25px;
    }
    .category-block{
        max-height: 250px;
        overflow: hidden;
        width: calc(100% - 60px);
    }
    .category-block h2 {
        margin: 15px 0 12.5px;
    }
    .category-block > div {
        grid-row-gap: 11px;
    }
    .help-block{
        height: auto;
        padding: 20px 0;
    }
    .help-block > div {
        min-width: unset;
        grid-auto-flow: row;
        grid-template-columns: unset;
    }
    .help-block > div > h2{
        padding: 0px 0 15px;
    }
    .help-block > div >div{
        grid-auto-flow: row;
        grid-template-columns: unset;
        grid-row-gap: 15px;
    }
    .show-all{
        top: calc(250px - 22px);
    }
    .expand-block{
        max-height: 1000px;
    }
    br{
        display: block;
    }
}
  @font-face {
    font-family: "Avenir";
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-light.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-light.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-light.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-light.woff") format("woff"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Avenir";
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-roman.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-roman.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-roman.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-roman.woff") format("woff"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-roman.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Avenir";
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-medium.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-medium.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-medium.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-medium.woff") format("woff"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Avenir";
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-black.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/avenir-black.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-black.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-black.woff") format("woff"),
        url("https://cdn-s3.headout.com/assets/fonts/avenir-black.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Graphik";
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Bold-Web.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Bold-Web.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Bold-Web.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Bold-Web.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Graphik";
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Semibold-Web.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Semibold-Web.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Semibold-Web.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Semibold-Web.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "Graphik";
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Medium-Web.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Medium-Web.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Medium-Web.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Medium-Web.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Graphik";
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Regular-Web.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Regular-Web.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Regular-Web.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Regular-Web.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Graphik";
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Light-Web.eot?#iefix");
    src: url("https://cdn-s3.headout.com/assets/fonts/Graphik-Light-Web.eot?#iefix") format("eot"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Light-Web.woff2") format("woff2"),
        url("https://cdn-s3.headout.com/assets/fonts/Graphik-Light-Web.woff") format("woff");
    font-weight: 300;
}